.chips {
    min-height: 36px;
    line-height: 1;
    font-size: 1em;
  }
  
  .chips-input {
    display: inline-block;
    width: 33%;
    min-height: 36px;
    margin-bottom: 5px;
    margin-left: 10px;
    border: 0;
    outline: none;
    font-size: 0.9rem;
  }
  
  .chip {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 25px;
    position: relative;
  }
  .chip .chip-value {
    display: inline-block;
    padding: 5px;
    padding-left: 15px;
    padding-right: 7.5px;
    background: #555;
    color: #fff;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
  }
  .chip .chip-delete-button {
    background: #555;
    color: #fff;
    border: 0;
    border-radius: 0 15px 15px 0;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -25px;
    line-height: 0.5;
    font-weight: bold;
  }

  .chip .chip-delete-button:hover {
color: red;
  }